{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h4>Профиль</h4>
            <hr>
            <p><strong>Имя:</strong> {{ student.name }}</p>
            <p><strong>Фамилия:</strong> {{ student.surname }}</p>
            <p><strong>Институт:</strong> {{ student.institution }}</p>
            <p><strong>Группа:</strong> {{ student.group }}</p>
            <hr>
<!--            <h5>Дисциплины</h5>-->
<!--            <ul>-->
<!--                {% for sg in subject_grades %}-->
<!--                <li>{{ sg.subject.name }} - {{ sg.total_grade }}/100</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--            <hr>-->
            <h5>Советы</h5>
            <p>какой-то текст</p>
            <img src="{% static 'grades/assets/img/cat-good.png' %}" class="img-fluid" alt="...">

        </div>
        <div class="col-md-8">
            <h4>Оценки</h4>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Предмет</th>
                        <th>Сумма баллов</th>
                        <th>Средний балл</th>
                        <th>Необходимо баллов до цели</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sg in subject_grades %}
                    <tr>
                        <td>{{ sg.subject.name }}</td>
                        <td>{{ sg.total_grade }}</td>
                        <td>{{ sg.avg_grade|safe }}</td>
                        <td>{{ sg.remaining_points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <h4>Калькулятор</h4>
                <hr>
                <form>
                  {% for subject in subjects %}
                  <div class="form-group">
                    <label for="{{ subject }}">{{ subject }}</label>
                    <div class="slider-container">
                      <input type="range" class="form-control-range slider" id="{{ subject }}" name="{{ subject }}" min="0" max="100">
                      <div class="slider-value" id="{{ subject }}-value">0</div>
                    </div>
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Рассчитать</button>
                </form>
                <style>
                .slider-container {
                  position: relative;
                  width: 200px;
                  margin: 0 auto;
                }

                .slider {
                  width: 100%;
                }

                .slider-value {
                  position: absolute;
                  top: -20px;
                  left: 0;
                  width: 100%;
                  text-align: center;
                  font-size: 12px;
                  color: #888;
                }
                </style>
                <script>
                document.addEventListener("DOMContentLoaded", function() {
                  var sliders = document.querySelectorAll(".slider");

                  sliders.forEach(function(slider) {
                    var subject = slider.getAttribute("id");
                    var valueLabel = document.getElementById(subject + "-value");

                    slider.addEventListener("input", function() {
                      valueLabel.textContent = slider.value;
                    });
                  });
                });
                </script>
            </div>
        </div>
</div>
{% endblock %}
